
@{
    ViewBag.Title = "Index";
}

<h2>TipoDocumento</h2>

<div class="form-group">
    <label for="txtNombre">Nombre</label>
    <input type="text" class="form-control" id="txtNombreDocumento">
</div>

<button type="button" class="btn btn-primary" id="btnNuevo">Nuevo</button>

<script src="~/Scripts/Personas/TipoDocumento.js"></script>